services:
  app:
    container_name : app_container
    build:
      context: ./app
      dockerfile : Dockerfile
    env_file: .env
    ports: 
      - "5001:5001"
    volumes:
      - ./app:/app
    depends_on: 
      - database


  database :
    container_name: database_container
    image: postgres:14.19-alpine3.21
    env_file: .env
    volumes: 
      - postgres_data:/var/lib/postgresql
    ports: 
      - "5432:5432"
    restart: always

volumes:
  postgres_data: